div {
	color: #000000;
	border:1px solid #151415;
	font-size: 20px;
	margin: 10px;
	padding: 15px;
}

.header {
	display: flex;
	margin: 30px;
}

.one {
	background-color: #777777;
	width: 200px;
	height: 150px;
}
.two {
	background-color: #777777;
	width: 400px;
}
.three {
	background-color: #777777;
	width: 800px;
	text-align:right;
}

.content {
	display: flex;
	margin: 30px;
}
.four {
	background-color: #777777;
	width: 250px;
	height: 400px;
	margin-bottom:400px;
}
.seven {
	background-color: #777777;
	width: 250px;
	height: 200px;
}
.content_center {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 30px;
}
.five {
	background-color: #DCDCDC;
	width: 96%;
	height:300px;
	margin: 10px;
}

.foto {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	
}

.six {
	background-color: #DCDCDC;
	width: 200px;
	height: 200px;
}
	
.information {
	display: flex;
	width: 100%;
	height: 25%;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

.eight {
	background-color: #DCDCDC;
	width: 470px;
	height: 200px;
}

.nine {
	background-color: #DCDCDC;
	width: 470px;
	height: 200px;
}

.footer {
	display: flex;
}
.ten {
	background-color: #777777;
	width: 30%;
}
.eleven {
	background-color: #777777;
	width: 30%;
}
.last {
	display: flex;
	flex-direction: column;
	width: 30%;
}
.twelve {
	background-color: #777777;
	margin: 0px 0px 10px 0px;
}
.thirteen {
	background-color: #777777;
	margin: 10px 0px 0px 0px;
}